<h1>Log In</h1>
<%= form_tag '/login' do %>
    <label> Username </label>
    <%= text_field_tag :'username' %>
    <br> <br>
    <label> Password </label>
    <%= password_field_tag :'password' %>
    <br> <br>
    <%= submit_tag 'Login' %>
<% end %>
<br>
<span><%= link_to('Log in with Github!', '/auth/github') %></span>
<span><%= link_to "Not a user? Sign up!", new_user_path %></span>
<span><%= link_to "Back to Homepage", '/' %></span>
