<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@review.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @review do |f| %>
    <%= f.label :studio %>
    <%= f.collection_select :studio_id, @current_user.studios.all, :id, :name %>

    <%= hidden_field 'review', "user_id", :value => @current_user.id %>

    <%= f.label :rating %>
    <%= f.number_field :rating, max: 5, min: 0 %>/5
    <br> <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br> <br>
    <%= f.submit "#{button_text} Review" %>
<% end %>