<% if @user %>
    <h1>Your Reviews</h1>
<% elsif @studio %>
    <h1>Reviews of <%= @studio.name %></h1>
<% else %>
    <h1> Reviews</h1>
<% end %>

    <ol>
        <% @reviews.each do |review| %>
            <li>Review of <%= link_to review.studio.name, user_review_path(@current_user, review) %> <span><%= link_to "Edit Review Details", edit_user_review_path(@current_user, review) %></span> <span><%= link_to "Delete Review", review, :method => :delete %></span></li><br><br>
        <% end %>
    </ol>
    <br>

<span><%= link_to "Add a new review", new_user_review_path(@current_user) %></span>
<span><%= link_to "Back to Account Page", user_path(@current_user) %></span>