<% if @user %>
    <h1>Your Reviews</h1>
<% else %>
    <h1>Reviews of <%= @studio.name %></h1>
<% end %>

    <ol>
        <% @reviews.each do |review| %>
            <li><%= link_to review.studio.name, user_review_path(@current_user, review) %> - <%= link_to "Edit Review Details", edit_user_review_path(@current_user, review) %> - <%= link_to "Delete Review", review, :method => :delete %></li>
        <% end %>
    </ol>

<%= link_to "Add a new review", new_user_review_path(@current_user) %><br>
<%= link_to "Back to Account Page", user_path(@current_user) %>