<h3>Name: <%= @studio.name %></h3><br>
Category: <%= @studio.category %><br>
<br><br>
<%= link_to "See Members", studio_users_path(@studio) %><br><br>
<%= link_to "Edit Studio Details", edit_studio_path(@studio) %><br><br>
<%= link_to "Delete Studio", @studio, :method => :delete %><br><br>
<%= link_to "Back to Your Studios", user_studios_path(@current_user) %>
